/*.cover{
    background: url('https://www.lifewire.com/thmb/S9zZ-2bTLAfHgrN_DvyFm7j-ywQ=/768x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/recover-forgotten-passowrd-57ed899f3df78c690fe556bf.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: sans-serif;
    width: 1366px;
    height: 768px;
}*/